{% include "header.html" %}
<div  class="container index">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="ribbons">
        <a href="https://github.com/wissus" target="_blank">
            <div id="btn1" class="button-social">
                <h4>GitHub. </h4>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/ouissal-drighil-853b91237/" target="_blank">
            <div id="btn2" class="button-social">
                <h4>LinkedIn. </h4>
            </div>
        </a>
    </div>

    <div  style="overflow:hidden" class="index-wrap">
        <div class="row">
            <div class="col-lg-6">
                <span style="background:transparent;" class="subtext">Welcome to my</span>
                <div class="stack" style="--stacks: 3;">
                    <h1 style="--index: 0;
background:transparent;">digital oasis.</h1>
                    <h1 style="--index: 1;background:transparent;">digital oasis.</h1>
                    <h1 style="--index: 2;background:transparent;">digital oasis.</h1>
                </div>
                <span style="background:transparent;" class="subtext">Ready to explore?</span>
                <p class="subtext"></p>
            </div>
           <!-- Footer -->
<div style="overflow:hidden;" class="col-lg-6 right-paragraph content">
                <p class="main-p" style="color:white;">I'm Wissal, a Python developer, but I'm hungry for more. I'm on an exciting journey to enhance my skills and delve into new technologies, eager to broaden my horizons and make a mark in the programming world
                </p>
                <div class="cursor-outer"></div>
                <div class="cursor-inner"></div>
            </div>
        </div>
    </div>
    <p class="copyright-main text-muted">Copyright &copy; Wissus
        <script>document.write(/\d{4}/.exec(Date())[0])</script>
    </p>
</div>

{% include "footer.html" %}
